{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint1/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if exit_warning.status %}

        <h1 id="exit_warning_h1" class="heading-medium">
          Sorry, you can’t continue.
          <span id="more_info_needed">
            {{exit_warning.needed}}
          </span>
        </h1>

        <div id="exit_warning" class="panel panel-border-narrow indent-info-blue">
          <p class="text">
            To complete and send a report you need to give enough information to identify the person. It’s not possible to investigate someone without it.
          </p>
        </div>

        <a href="/sprint1/feedback" id="exit_warning_feedback">
          What did you think of this service? (takes 30 seconds)
        </a>
      {% else %}
        <h1 class="heading-xlarge">You haven’t given enough information</h1>

        <p class="lede">
          Do you also know their:
        </p>

        <form action="exit" method="post">
          <div class="form-group">
            {% for element in render %}
              <fieldset class="inline">
                <legend class="visuallyhidden">{{element.title}}?</legend>

                <h2 class="heading-small" style="margin-bottom: 0;">{{element.title}}?<h2>
                  {% if element.hint %}
                    <span class="form-hint">{{element.hint}}</span>
                  {% endif %}

                <label class="block-label" for="{{element.id}}_yes">
                  <input id="{{element.id}}_yes" type="radio" name="{{element.id}}" value="true">
                  Yes
                </label>
                <label class="block-label" for="{{element.id}}_no">
                  <input id="{{element.id}}_no" type="radio" name="{{element.id}}" value="false">
                  No
                </label>
              </fieldset>
            {% endfor %}
          </div>

          <input type="submit" class="button" value="Continue" />
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
