{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint1/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Contrived tenancy</h1>

      <form method="post" class="council">
        <h2 class="heading-small">Please complete this section if the suspect does not live at the address for which rent is being claimed or if the landlord fails to notify that the tenant has left.</h2>
        <h2 class="heading-small">Is the suspect using an alternative address from that already given</h2>


        <!-- start of address-->
        <h2 class="heading-small">Do you know the relative or partner's address?</h2>
        <div class="form-group">
          <fieldset class="inline">
            <label class="block-label" data-target="addressperson_hidden" for="addressperson_hidden_yes">
              <input id="dob_yes" type="radio" name="addressperson_hidden_select" value="Yes" aria-controls="dob_hidden" aria-expanded="false" {{session.dob_yes}}>
              Yes
            </label>

            <label class="block-label {{session.addressperson_hidden_no}}" for="dob_no">
              <input id="dob_no" type="radio" name="addressperson_hidden_select" value="No" {{session.dob_no}}>
              No
            </label>

            <div class="panel panel-border-narrow js-hidden {{validate.addressperson_hidden}}" id="addressperson_hidden" style="display:{{session.addressperson_hidden}}">

              <legend class="form-label-bold" for="addressperson_hidden_form">
                Address

                <p class="form-hint">
                  Include at least street and town
                </p>
              </legend>

              <div class="form-group">
                <fieldset>
                  <div id="firstName-form" class="form-group form-group-compound">
                    <label class="form-label" for="building">Building name or number</label>
                    <input type="text" class="form-control" id="building" name="building" value="{{session.building}}">
                  </div>

                  <div id="lastName-form" class="form-group form-group-compound {{validate.street}}">
                    <label class="form-label" for="street">Street</label>
                    <input type="text" class="form-control" id="street" name="street" value="{{session.street}}">
                  </div>

                  <div id="lastName-form" class="form-group form-group-compound {{validate.town}}">
                    <label class="form-label" for="town">Town or city</label>
                    <input type="text" class="form-control" id="town" name="town" value="{{session.town}}">
                  </div>

                  <div id="lastName-form" class="form-group form-group-compound">
                    <label class="form-label" for="county">County</label>
                    <input type="text" class="form-control" id="county" name="county" value="{{session.county}}">
                  </div>

                  <div id="lastName-form" class="form-group form-group-compound">
                    <label class="form-label" for="postcode">Postcode</label>
                    <input type="text" class="form-control" id="postcode" name="postcode" value="{{session.postcode}}">
                  </div>
                </fieldset>
              </div>
            </div>
          <fieldset/>
        </div>

        <div class="form-group">
          <fieldset>
            <div class="form-date">
              <legend class="form-label-bold" for="addressperson_hidden_form">
                When did the suspect leave this address?

                <p class="form-hint">
                  If you dont know the exact date, please give the best estimation you can
                </p>
              </legend>

              <div class="form-group form-group-day">
                <label for="dob_day">Day</label>
                <input class="form-control no-error" id="dob_day" name="dob_day" value="{{session.dob_day}}" type="text" maxlength="2">
              </div>

              <div class="form-group form-group-month">
                <label for="dob_month">Month</label>
                <input class="form-control no-error" id="dob_month" name="dob_month" value="{{session.dob_month}}" type="text" maxlength="2">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control no-error" id="dob_year" name="dob_year" value="{{session.dob_year}}" type="text" maxlength="4">
              </div>
            </div>
          </fieldset>
        </div>

        <h2 class="heading-small">Does the suspect continue to visit the house for any reason?</h2>
        <div class="form-group">
          <fieldset class="{{validate.first_name}}">
            <label class="block-label" data-target="othernames" for="othernames_yes">
              <input id="othernames_yes" type="radio" name="othernames_selects" value="Yes" aria-controls="othernames" aria-expanded="false" {{session.another_yes}}>
              Yes
            </label>

            <label class="block-label" for="another_no">
              <input id="othernames_no" type="radio" name="othernames_selects" value="No" {{session.othernames_no}}>
              No
            </label>

            <label class="block-label" for="another_dontknow">
              <input id="othernames_dontknow" type="radio" name="othernames_selects" value="dontknow" {{session.othernames_dontknow}}>
              Dont know
            </label>
          </fieldset>
        </div>

            <div class="panel panel-border-narrow js-hidden" id="othernames" style="display:{{session.othernames_display}};">
              <div class="form-group">
                <fieldset>

                  <div id="firstName-form" class="form-group">
                    <label class="form-label-bold" for="how_many_hours">
                      When and why?
                    </label>
                    <input type="text" class="form-control" id="how_many_hours" name="how_many_hours" value="{{session.how_many_hours}}">
                  </div>

                </fieldset>
              </div>

            </div>
          </div>

        <!-- end of address -->

        <a id="submit" type="submit" class="button" value="Continue" href="additional-information">Continue</a>
      </form>
    </div>
  </div>
{% endblock %}
