{% extends "layout.html" %}

{% block phase%}
{% include 'sprint1/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Non-dependants</h1>

    <form method="post" class="council">

      <h2 class="heading-small">Are there any persons over 16 in the household, who have not been declared and who may effect the Housing Benefit or Council Tax Benefit claimed by suspect?</h2>
      <div class="form-group inline">
        <fieldset class="{{validate.first_name}}">
          <label class="block-label" data-target="othernames" for="othernames_yes">
            <input id="othernames_yes" type="radio" name="othernames_selects" value="Yes" {{session.another_yes}}>
            Yes
          </label>

          <label class="block-label" for="another_no">
            <input id="othernames_no" type="radio" name="othernames_selects" value="No" {{session.othernames_no}}>
            No
          </label>

          <label class="block-label" for="another_dontknow">
            <input id="othernames_dontknow" type="radio" name="othernames_selects" value="dontknow" {{session.othernames_dontknow}}>
            Dont know
          </label>
        </fieldset>
      </div>

      <a id="submit" type="submit" class="button" value="Continue" href="additional-information">Continue</a>
    </form>
  </div>
</div>
{% endblock %}
