{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% block phase %}{% endblock %}

  {% if errors %}
    {% include "sprint10/partials/errors.html" %}
  {% endif %}

  {% block main %}{% endblock %}
</main>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
